header{
    height: 50px;
}
#buttons
{
    text-align: right;
}
footer{
    height : 200px;
    background-color: black;
    color: black;
}
#title{
    height: 100px;
    background-color: #f6f6f6;
    text-align: center;
   
}
#main{

height: 400px;
background-color: red;
}